USE [LinkeDisV4]
GO
/****** Object:  Table [dbo].[L_AccessTokenTab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_AccessTokenTab](
	[access_token] [varchar](1000) NULL,
	[time] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Accounts_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Accounts_Tab](
	[idCode] [int] NOT NULL,
	[MchCode] [varchar](50) NULL,
	[name] [varchar](100) NOT NULL,
	[Money] [decimal](18, 4) NULL,
	[initMoney] [decimal](18, 4) NULL,
	[note] [varchar](50) NULL,
 CONSTRAINT [PK_L_BasicAccountsTab] PRIMARY KEY CLUSTERED 
(
	[idCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Area_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Area_Tab](
	[IdCode] [int] NOT NULL,
	[PCode] [int] NULL,
	[MchCode] [varchar](50) NULL,
	[Name] [varchar](50) NOT NULL,
	[xz] [int] NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Area_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Cate_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Cate_Tab](
	[idCode] [bigint] NOT NULL,
	[PCode] [bigint] NULL,
	[MchCode] [varchar](50) NULL,
	[Name] [varchar](50) NOT NULL,
	[PicSrc] [varchar](800) NULL,
	[SerialNum] [int] NULL,
	[Note] [varchar](50) NULL,
	[defaultShipperCode] [int] NULL,
	[AddPriceRate] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Company_Area_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Company_Area_Tab](
	[IdCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Company_Area_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Company_Cate_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Company_Cate_Tab](
	[IdCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Company_Cate_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Company_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Company_Tab](
	[IdCode] [bigint] NOT NULL,
	[selfCode] [varchar](50) NULL,
	[wxCode] [varchar](50) NULL,
	[Pcode] [bigint] NULL,
	[PymCode] [varchar](50) NULL,
	[Name] [varchar](100) NOT NULL,
	[ShortName] [varchar](100) NULL,
	[Addr] [varchar](100) NULL,
	[Tel] [varchar](20) NULL,
	[Person] [varchar](20) NULL,
	[AreaCode] [int] NULL,
	[CateCode] [int] NULL,
	[SettlementType] [int] NULL,
	[AccountDay] [int] NULL,
	[SalesMan] [int] NULL,
	[relationcode] [int] NULL,
	[InsUserCode] [int] NULL,
	[InsAt] [datetime] NULL,
	[EditUserCode] [int] NULL,
	[EditAt] [datetime] NULL,
	[picSrc] [varchar](800) NULL,
	[LossAllocation] [int] NULL,
	[QualityGrade] [int] NULL,
	[PriceLevel] [int] NULL,
	[Status] [int] NULL,
	[startAt] [date] NULL,
	[endAt] [date] NULL,
	[DeliveryAt] [varchar](20) NULL,
	[Pwd] [varchar](50) NULL,
	[subscribemessagenum] [int] NULL,
	[LineName] [varchar](50) NULL,
	[AllowedChangeProduct] [bit] NULL,
	[Note] [varchar](100) NULL,
	[watchOrder] [int] NULL,
	[notAddPrice] [bit] NULL,
	[ChangeAblePrice] [int] NULL,
	[LookProductType] [int] NULL,
	[DownUnitType] [int] NULL,
	[Dr] [decimal](18, 4) NULL,
	[decimalBit] [int] NULL,
	[SaleFromQuotePrice] [bit] NULL,
 CONSTRAINT [PK_L_Basic_Customer_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Customer_Price_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Customer_Price_Tab](
	[IdKey] [varchar](100) NOT NULL,
	[MchCode] [varchar](50) NULL,
	[PCode] [bigint] NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[SerialNumber] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[defaultShipperCode] [bigint] NULL,
	[note] [varchar](50) NULL,
	[AliasName] [varchar](100) NULL,
	[SaleType] [int] NULL,
	[CustomerProcudeCode] [varchar](20) NULL,
	[ChangeNote] [varchar](max) NULL,
	[QualityGrade] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[l_Basic_PayType_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[l_Basic_PayType_Tab](
	[idCode] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[toAccounts] [int] NULL,
	[rate] [float] NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_l_BasicPayTypeTab] PRIMARY KEY CLUSTERED 
(
	[idCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Post_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Post_Tab](
	[IdCode] [int] NOT NULL,
	[MchCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Post_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Product_Comb_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Product_Comb_Tab](
	[Idkey] [varchar](50) NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[PCode] [varchar](20) NOT NULL,
	[Num] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Product_Comb_Tab] PRIMARY KEY CLUSTERED 
(
	[Idkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Product_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Product_Tab](
	[IdCode] [varchar](20) NOT NULL,
	[BarCode] [varchar](20) NULL,
	[SelfCode] [varchar](20) NOT NULL,
	[PymCode] [varchar](20) NULL,
	[Name] [varchar](50) NOT NULL,
	[AliasName] [varchar](500) NULL,
	[Spec] [varchar](50) NULL,
	[Pack] [decimal](18, 2) NULL,
	[Weight] [decimal](18, 2) NULL,
	[Unit] [varchar](10) NULL,
	[PUnit] [varchar](10) NULL,
	[DownWgSpec] [varchar](100) NULL,
	[domethod] [varchar](500) NULL,
	[Brand] [varchar](50) NULL,
	[Origin] [varchar](50) NULL,
	[SaleType] [int] NULL,
	[ShipperCode] [bigint] NULL,
	[AreaCode] [int] NULL,
	[CateCode] [int] NOT NULL,
	[InsAt] [datetime] NULL,
	[InsUserCode] [int] NULL,
	[EditAt] [datetime] NULL,
	[EditUserCode] [int] NULL,
	[inPrice] [decimal](18, 8) NOT NULL,
	[AvgCostPrice] [decimal](18, 8) NULL,
	[Price1] [decimal](18, 4) NOT NULL,
	[Price2] [decimal](18, 4) NOT NULL,
	[price3] [decimal](18, 4) NULL,
	[Price4] [decimal](18, 4) NULL,
	[price5] [decimal](18, 4) NULL,
	[UpperLimit] [int] NULL,
	[LowerLimit] [int] NULL,
	[PicSrc] [varchar](800) NULL,
	[Status] [tinyint] NULL,
	[CheckNote] [varchar](200) NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Product_Tab] PRIMARY KEY NONCLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Project_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Project_Tab](
	[IdCode] [bigint] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Addr] [varchar](100) NULL,
	[Tel] [varchar](20) NULL,
	[Person] [varchar](20) NULL,
	[InsUserCode] [int] NULL,
	[InsAt] [datetime] NULL,
	[EditUserCode] [int] NULL,
	[EditAt] [datetime] NULL,
	[Status] [int] NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PKL_Basic_Project_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_SettlementType_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_SettlementType_Tab](
	[IdCode] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_BasicSettlementTab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Shipper_Price_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Shipper_Price_Tab](
	[IdKey] [varchar](100) NOT NULL,
	[PCode] [bigint] NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[curPrice] [decimal](18, 4) NOT NULL,
	[Price] [decimal](18, 4) NOT NULL,
	[note] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Store_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Store_Tab](
	[IdCode] [bigint] NOT NULL,
	[MchCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Addr] [varchar](50) NULL,
	[Tel] [varchar](50) NULL,
	[PerSon] [varchar](50) NULL,
	[SettlementType] [int] NOT NULL,
	[AccountDay] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[PriceLevel] [int] NULL,
	[Note] [varchar](50) NULL,
 CONSTRAINT [PK_L_Basic_Store_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_Subject_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_Subject_Tab](
	[IdCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_L_Basic_Subject_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_User_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_User_Tab](
	[IdCode] [int] NOT NULL,
	[MchCode] [varchar](50) NULL,
	[WxCode] [varchar](100) NULL,
	[Name] [varchar](20) NOT NULL,
	[Addr] [varchar](50) NULL,
	[TEL] [varchar](50) NULL,
	[PicSrc] [varchar](800) NULL,
	[Store] [int] NOT NULL,
	[Post] [int] NOT NULL,
	[Pwd] [varchar](50) NULL,
	[powerPwd] [varchar](50) NULL,
	[RelationCode] [bigint] NULL,
	[SubscribeMessageNum] [int] NULL,
	[status] [int] NULL,
	[Note] [varchar](50) NULL,
	[LastUpdateTime] [datetime] NULL,
	[LookSelfOrder] [int] NULL,
 CONSTRAINT [PK_L_Basic_User_tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Basic_UserManageCate_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Basic_UserManageCate_Tab](
	[IdKey] [varchar](20) NOT NULL,
	[PCode] [int] NOT NULL,
	[CateCode] [int] NOT NULL,
 CONSTRAINT [PK_L_Basic_UserManageCate_Tab] PRIMARY KEY CLUSTERED 
(
	[IdKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Bill_QuotedPrice_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Bill_QuotedPrice_Tab](
	[BillNumber] [varchar](20) NOT NULL,
	[AccountBookCode] [int] NULL,
	[CustomerCode] [bigint] NULL,
	[MakingUserCode] [int] NULL,
	[MakingAt] [smalldatetime] NULL,
	[ExamineUserCode] [int] NULL,
	[ExamineAt] [smalldatetime] NULL,
	[StartAt] [date] NULL,
	[EndAt] [date] NULL,
	[BillType] [int] NULL,
	[Status] [int] NULL,
	[Note] [varchar](50) NULL,
	[PCode] [int] NULL,
 CONSTRAINT [PK_L_Bill_QuotedPrice_Tab] PRIMARY KEY CLUSTERED 
(
	[BillNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Bill_QuotedPrices_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Bill_QuotedPrices_Tab](
	[Idkey] [varchar](100) NOT NULL,
	[billnumber] [varchar](20) NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[SerialNumber] [int] NULL,
	[curSalePrice] [decimal](18, 2) NULL,
	[salePrice] [decimal](18, 2) NOT NULL,
	[TenSaleNum] [decimal](18, 2) NOT NULL,
	[examineUserCode] [int] NOT NULL,
	[At] [datetime] NOT NULL,
	[StartAt] [date] NULL,
	[EndAt] [date] NULL,
	[BillType] [int] NULL,
	[Status] [int] NULL,
	[Note] [varchar](200) NULL,
	[defaultShipperCode] [bigint] NULL,
	[AliasName] [varchar](100) NULL,
	[QualityGrade] [int] NULL,
	[SaleType] [int] NULL,
	[CustomerProcudeCode] [varchar](20) NULL,
	[customerSpec] [varchar](80) NULL,
	[customerCheckNote] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Nav_Func_Detail_children_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Nav_Func_Detail_children_Tab](
	[Idkey] [bigint] IDENTITY(1,1) NOT NULL,
	[idCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[PostCode] [smallint] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[SysVis] [bit] NOT NULL,
	[Vis] [bit] NOT NULL,
	[IconCls] [varchar](50) NULL,
	[viewPath] [varchar](100) NULL,
	[showModel] [smallint] NULL,
	[Type] [smallint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Nav_Func_Detail_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Nav_Func_Detail_Tab](
	[Idkey] [bigint] IDENTITY(1,1) NOT NULL,
	[idCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[PostCode] [smallint] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[SysVis] [bit] NOT NULL,
	[Vis] [bit] NOT NULL,
	[IconCls] [varchar](50) NULL,
	[viewPath] [varchar](50) NULL,
	[showModel] [bit] NULL,
	[Type] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Nav_Func_Header_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Nav_Func_Header_Tab](
	[idkey] [bigint] IDENTITY(1,1) NOT NULL,
	[idCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[PostCode] [smallint] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[SysVis] [bit] NOT NULL,
	[Vis] [bit] NOT NULL,
	[DllName] [varchar](50) NULL,
	[ClassName] [varchar](50) NULL,
	[IconCls] [varchar](50) NULL,
	[orderSerial] [int] NULL,
	[orderStyle] [smallint] NULL,
	[showModel] [smallint] NULL,
	[viewPath] [varchar](50) NULL,
 CONSTRAINT [PK_Lk_Nav_Func_Header_Tab] PRIMARY KEY CLUSTERED 
(
	[idkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Nav_Func_Power_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Nav_Func_Power_Tab](
	[IdKey] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCode] [int] NOT NULL,
	[PCode] [int] NOT NULL,
	[PostCode] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Vis] [bit] NOT NULL,
 CONSTRAINT [PK_Nav_Func_Power_Tab] PRIMARY KEY CLUSTERED 
(
	[IdKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_PrintStyle_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_PrintStyle_Tab](
	[xh] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[FuncCode] [int] NOT NULL,
	[x] [bit] NOT NULL,
	[styleName] [varchar](50) NOT NULL,
	[style] [varchar](max) NULL,
	[relationcode] [int] NULL,
 CONSTRAINT [PK_L_Sys_PrintStyle_Tab] PRIMARY KEY CLUSTERED 
(
	[xh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Sys_Parmars_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Sys_Parmars_Tab](
	[MchCode] [varchar](50) NULL,
	[IdCode] [int] NOT NULL,
	[ExceedTimeToDay] [int] NOT NULL,
	[GoEasyAppkey] [varchar](200) NULL,
	[InPriceStyle] [varchar](50) NOT NULL,
	[OutPriceStyle] [varchar](50) NOT NULL,
	[PageRecord] [int] NOT NULL,
	[PosToExpandDay] [int] NOT NULL,
	[GroupToExpandDay] [int] NOT NULL,
	[MinRetainDay] [int] NOT NULL,
	[AllowedExceedStock] [bit] NULL,
	[LastPrice] [bit] NULL,
	[AllowedGroupExceedStock] [bit] NULL,
	[AllowedNewProduct] [bit] NULL,
	[NewProductFromWin] [bit] NULL,
	[PriceCaption] [varchar](200) NULL,
	[OutNotCalclStock] [bit] NULL,
	[OutMustDis] [bit] NULL,
	[DiscardWeight] [decimal](18, 2) NULL,
	[MsgAcceptWxCode] [varchar](2000) NULL,
	[CustomerFromQuotedPrice] [bit] NULL,
	[AutoEntry] [bit] NULL,
	[AutoSwap] [bit] NULL,
	[purchaseGridPrintCol] [int] NULL,
	[NumIsZeroNotAllowPrint] [bit] NULL,
	[UpdatePurchaseToDefaultShipper] [bit] NULL,
	[UpdateSaleOrderToPurchaseOrder] [bit] NULL,
	[WithInShipperCode] [int] NULL,
	[AfterDisAllowedAddProduct] [bit] NULL,
	[SaleAutoEntry] [bit] NULL,
	[PushBackCheckStock] [bit] NULL,
	[TipNotQuotedPrice] [bit] NULL,
	[CostPriceInPurchare] [bit] NULL,
	[EnabledWeighing] [bit] NULL,
	[MainBookName] [varchar](100) NULL,
	[SubBookName] [varchar](100) NULL,
	[MainSendToSub] [bit] NULL,
	[importStock] [bit] NULL,
	[AllowedOutOrderNum] [bit] NULL,
	[ShipperAddNumNotTransferStock] [bit] NULL,
	[UpdateSaleAllowedChangePrice] [bit] NULL,
	[LablePrintName] [varchar](50) NULL,
	[DisShowFrom] [bit] NULL,
	[NotAvgLose] [bit] NULL,
	[AcceptUserCode] [int] NULL,
	[DisPrintColumns] [int] NULL,
	[DisPrintFontSize] [int] NULL,
	[DownGroupPrintColumns] [int] NULL,
	[DownGroupPrintFontSize] [int] NULL,
	[EndOrderTime] [int] NULL,
	[StartOrderTime] [int] NULL,
	[GroupByBigCate] [bit] NULL,
	[enableManyShipper] [bit] NULL,
	[PurchasesTOPlusType] [bit] NULL,
	[multiLineOut] [bit] NULL,
	[swapShipperToAll] [bit] NULL,
	[defaultShipperCode] [int] NULL,
	[WxCateVertical] [bit] NULL,
	[Units] [varchar](1000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Sys_Wx_Parmars_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Sys_Wx_Parmars_Tab](
	[idCode] [int] NULL,
	[allowrecharge] [bit] NULL,
	[allowswap] [bit] NULL,
	[allowprize] [bit] NULL,
	[allowPay] [bit] NULL,
	[mchname] [varchar](50) NULL,
	[mchtel] [varchar](50) NULL,
	[mchaddr] [varchar](100) NULL,
	[extensiongiveintegral] [int] NULL,
	[extensiontext] [varchar](500) NULL,
	[subscribetext] [varchar](500) NULL,
	[subscribegiveintegral] [int] NULL,
	[noticetext] [varchar](500) NULL,
	[signgiveintegral] [int] NULL,
	[signtext] [varchar](1000) NULL,
	[prizetext] [varchar](1000) NULL,
	[rechargetext] [varchar](1000) NULL,
	[Appid] [varchar](100) NULL,
	[APPSECRET] [varchar](200) NULL,
	[ServiceQrCodePic] [varchar](200) NULL,
	[ServiceWxopenId] [varchar](200) NULL,
	[LogoPic] [varchar](200) NULL,
	[Vippic] [varchar](200) NULL,
	[pay_Notify_Url] [varchar](200) NULL,
	[pay_MChID] [varchar](200) NULL,
	[pay_Key] [varchar](200) NULL,
	[pay_Cert_path] [varchar](200) NULL,
	[Msg_Recharge] [varchar](200) NULL,
	[Msg_Sale] [varchar](200) NULL,
	[Msg_Team_Subscribe] [varchar](200) NULL,
	[Msg_Team_Sale] [varchar](200) NULL,
	[Msg_Order] [varchar](200) NULL,
	[adPicUrl] [varchar](2000) NULL,
	[certificatePic] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Wx_Templated_Num_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Wx_Templated_Num_Tab](
	[VipCode] [varchar](50) NOT NULL,
	[Templated_Code] [int] NOT NULL,
	[Num] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[L_Wx_Templated_Tab]    Script Date: 2026-04-23 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[L_Wx_Templated_Tab](
	[IdCode] [int] NOT NULL,
	[Templated_Id] [varchar](50) NOT NULL,
	[Templated_JSON] [varchar](500) NOT NULL,
	[Templated_Text] [varchar](500) NOT NULL,
	[Templated_Data] [varchar](1000) NULL,
	[Note] [varchar](100) NOT NULL,
 CONSTRAINT [PK_L_Wx_Templated_Tab] PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[L_Basic_Accounts_Tab] ADD  CONSTRAINT [DF_L_BasicAccountsTab_Money]  DEFAULT ((0)) FOR [Money]
GO
ALTER TABLE [dbo].[L_Basic_Accounts_Tab] ADD  CONSTRAINT [DF_L_BasicAccountsTab_initMoney]  DEFAULT ((0)) FOR [initMoney]
GO
ALTER TABLE [dbo].[L_Basic_Area_Tab] ADD  CONSTRAINT [DF_L_Basic_Area_Tab_xz]  DEFAULT ((0)) FOR [xz]
GO
ALTER TABLE [dbo].[L_Basic_Cate_Tab] ADD  CONSTRAINT [DF_L_Basic_Cate_Tab_PCode]  DEFAULT ((0)) FOR [PCode]
GO
ALTER TABLE [dbo].[L_Basic_Cate_Tab] ADD  DEFAULT ((1)) FOR [defaultShipperCode]
GO
ALTER TABLE [dbo].[L_Basic_Cate_Tab] ADD  DEFAULT ((0)) FOR [AddPriceRate]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_Pcode]  DEFAULT ((0)) FOR [Pcode]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_AreaCode]  DEFAULT ((0)) FOR [AreaCode]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_CateCode]  DEFAULT ((0)) FOR [CateCode]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_SettlementType]  DEFAULT ((0)) FOR [SettlementType]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_AccountDay]  DEFAULT ((0)) FOR [AccountDay]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_SalesMan]  DEFAULT ((0)) FOR [SalesMan]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_InsUserCode]  DEFAULT ((0)) FOR [InsUserCode]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_EditUserCode]  DEFAULT ((0)) FOR [EditUserCode]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_LossAllocation]  DEFAULT ((1)) FOR [LossAllocation]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_QualityGrade]  DEFAULT ((0)) FOR [QualityGrade]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_PriceLevel]  DEFAULT ((0)) FOR [PriceLevel]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_Statues]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF_L_Basic_Company_Tab_Pwd]  DEFAULT ('e10adc3949ba59abbe56e057f20f883e') FOR [Pwd]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__subsc__1552907D]  DEFAULT ((0)) FOR [subscribemessagenum]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__allow__1646B4B6]  DEFAULT ((0)) FOR [AllowedChangeProduct]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__watch__443867EF]  DEFAULT ((1)) FOR [watchOrder]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__notAd__4F35E4A6]  DEFAULT ((0)) FOR [notAddPrice]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__Chang__11439F25]  DEFAULT ((0)) FOR [ChangeAblePrice]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__LookP__1237C35E]  DEFAULT ((0)) FOR [LookProductType]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__DownU__6E4F68A3]  DEFAULT ((0)) FOR [DownUnitType]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_Comp__Dr__23F74C3D]  DEFAULT ((1)) FOR [Dr]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__decim__254B6329]  DEFAULT ((2)) FOR [decimalBit]
GO
ALTER TABLE [dbo].[L_Basic_Company_Tab] ADD  CONSTRAINT [DF__L_Basic_C__SaleF__606C28F7]  DEFAULT ((0)) FOR [SaleFromQuotePrice]
GO
ALTER TABLE [dbo].[L_Basic_Customer_Price_Tab] ADD  DEFAULT ((1)) FOR [defaultShipperCode]
GO
ALTER TABLE [dbo].[L_Basic_Customer_Price_Tab] ADD  DEFAULT ((0)) FOR [SaleType]
GO
ALTER TABLE [dbo].[L_Basic_Customer_Price_Tab] ADD  DEFAULT ('') FOR [CustomerProcudeCode]
GO
ALTER TABLE [dbo].[L_Basic_Customer_Price_Tab] ADD  CONSTRAINT [DF_L_Basic_Customer_Price_Tab_QualityGrade]  DEFAULT ((0)) FOR [QualityGrade]
GO
ALTER TABLE [dbo].[l_Basic_PayType_Tab] ADD  CONSTRAINT [DF_l_BasicPayTypeTab_toAccounts]  DEFAULT ((1)) FOR [toAccounts]
GO
ALTER TABLE [dbo].[l_Basic_PayType_Tab] ADD  CONSTRAINT [DF_l_BasicPayTypeTab_rate]  DEFAULT ((0)) FOR [rate]
GO
ALTER TABLE [dbo].[L_Basic_Product_Comb_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Comb_Tab_Num]  DEFAULT ((0)) FOR [Num]
GO
ALTER TABLE [dbo].[L_Basic_Product_Comb_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Comb_Tab_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF__L_Basic_P__Alias__74676955]  DEFAULT ('') FOR [AliasName]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_Spec]  DEFAULT ('') FOR [Spec]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_Pack]  DEFAULT ((1)) FOR [Pack]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_SaleType]  DEFAULT ((0)) FOR [SaleType]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_ShipperCode]  DEFAULT ((0)) FOR [ShipperCode]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_AreaCode]  DEFAULT ((101)) FOR [AreaCode]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_CateCode]  DEFAULT ((0)) FOR [CateCode]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF__L_Basic_P__InsAt__61FEA057]  DEFAULT (getdate()) FOR [InsAt]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_InsUserCode]  DEFAULT ((0)) FOR [InsUserCode]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF__L_Basic_P__EditA__62F2C490]  DEFAULT (getdate()) FOR [EditAt]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_EditUserCode]  DEFAULT ((0)) FOR [EditUserCode]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_inPrice]  DEFAULT ((0)) FOR [inPrice]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF__L_Basic_P__AvgCo__430517EB]  DEFAULT ((0)) FOR [AvgCostPrice]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_Price1]  DEFAULT ((0)) FOR [Price1]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_Price2]  DEFAULT ((0)) FOR [Price2]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_price3]  DEFAULT ((0)) FOR [price3]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_Price4]  DEFAULT ((0)) FOR [Price4]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_price5]  DEFAULT ((0)) FOR [price5]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_UppeLimit]  DEFAULT ((0)) FOR [UpperLimit]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_LowerLimit]  DEFAULT ((0)) FOR [LowerLimit]
GO
ALTER TABLE [dbo].[L_Basic_Product_Tab] ADD  CONSTRAINT [DF_L_Basic_Product_Tab_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[L_Basic_Project_Tab] ADD  CONSTRAINT [DF_L_Basic_Project_Tab_InsUserCode]  DEFAULT ((0)) FOR [InsUserCode]
GO
ALTER TABLE [dbo].[L_Basic_Project_Tab] ADD  CONSTRAINT [DF_L_Basic_Project_Tab_EditUserCode]  DEFAULT ((0)) FOR [EditUserCode]
GO
ALTER TABLE [dbo].[L_Basic_Project_Tab] ADD  CONSTRAINT [DF_L_Basic_Project_Tab_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[L_Basic_Store_Tab] ADD  CONSTRAINT [DF_L_Basic_Store_Tab_SettlementType]  DEFAULT ((0)) FOR [SettlementType]
GO
ALTER TABLE [dbo].[L_Basic_Store_Tab] ADD  CONSTRAINT [DF_L_Basic_Store_Tab_AccountDay]  DEFAULT ((0)) FOR [AccountDay]
GO
ALTER TABLE [dbo].[L_Basic_Store_Tab] ADD  CONSTRAINT [DF_L_Basic_Store_Tab_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[L_Basic_Store_Tab] ADD  CONSTRAINT [DF_L_Basic_Store_Tab_PriceLevel]  DEFAULT ((0)) FOR [PriceLevel]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  CONSTRAINT [DF_L_BasicUsertab_store]  DEFAULT ((0)) FOR [Store]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  CONSTRAINT [DF_L_BasicUsertab_psot]  DEFAULT ((0)) FOR [Post]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  CONSTRAINT [DF_L_Basic_User_Tab_Pwd]  DEFAULT ('e10adc3949ba59abbe56e057f20f883e') FOR [Pwd]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  CONSTRAINT [DF_L_Basic_User_Tab_RelationCode]  DEFAULT ((0)) FOR [RelationCode]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  CONSTRAINT [DF_L_Basic_User_Tab_SubscribeMessageNum]  DEFAULT ((0)) FOR [SubscribeMessageNum]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  CONSTRAINT [DF_L_Basic_User_Tab_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[L_Basic_User_Tab] ADD  DEFAULT ((0)) FOR [LookSelfOrder]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrice_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrice_Tab_AccountCode]  DEFAULT ((1)) FOR [AccountBookCode]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrice_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrice_Tab_BillType]  DEFAULT ((302)) FOR [BillType]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrice_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrice_Tab_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrice_Tab] ADD  CONSTRAINT [DF__L_Bill_Qu__PCode__0BD5A9E9]  DEFAULT ((0)) FOR [PCode]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrices_Tab_curSalePrice]  DEFAULT ((0)) FOR [curSalePrice]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrices_Tab_TenSaleNum]  DEFAULT ((0)) FOR [TenSaleNum]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrices_Tab_examineUserCode]  DEFAULT ((0)) FOR [examineUserCode]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrices_Tab_BillType]  DEFAULT ((302)) FOR [BillType]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrices_Tab_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF__L_Bill_Qu__defau__5B0E7E4A]  DEFAULT ((1)) FOR [defaultShipperCode]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF_L_Bill_QuotedPrices_Tab_QualityGrade]  DEFAULT ((0)) FOR [QualityGrade]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF__L_Bill_Qu__SaleT__6900A3A1]  DEFAULT ((0)) FOR [SaleType]
GO
ALTER TABLE [dbo].[L_Bill_QuotedPrices_Tab] ADD  CONSTRAINT [DF__L_Bill_Qu__Custo__7B4A3C65]  DEFAULT ('') FOR [CustomerProcudeCode]
GO
ALTER TABLE [dbo].[L_Nav_Func_Detail_children_Tab] ADD  CONSTRAINT [DF_L_Nav_Func_Detail_children_Tab_SysVis]  DEFAULT ((1)) FOR [SysVis]
GO
ALTER TABLE [dbo].[L_Nav_Func_Detail_children_Tab] ADD  CONSTRAINT [DF_L_Nav_Func_Detail_children_Tab_Vis]  DEFAULT ((1)) FOR [Vis]
GO
ALTER TABLE [dbo].[L_Nav_Func_Detail_children_Tab] ADD  CONSTRAINT [DF_L_Nav_Func_Detail_children_Tab_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[L_Nav_Func_Detail_Tab] ADD  CONSTRAINT [DF_L_Nav_Func_Detail_Tab_showModel]  DEFAULT ((0)) FOR [showModel]
GO
ALTER TABLE [dbo].[L_Nav_Func_Detail_Tab] ADD  CONSTRAINT [DF_L_Nav_Func_Detail_Tab_isSub]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[L_PrintStyle_Tab] ADD  DEFAULT ((0)) FOR [relationcode]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_ExceedTimeToDay]  DEFAULT ((0)) FOR [ExceedTimeToDay]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_InPriceStyle]  DEFAULT ('#0.000') FOR [InPriceStyle]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_OutPriceStyle]  DEFAULT ('#0.00') FOR [OutPriceStyle]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_PageRecord]  DEFAULT ((0)) FOR [PageRecord]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_PosToExpandDay]  DEFAULT ((7)) FOR [PosToExpandDay]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_GroupToExpandDay]  DEFAULT ((180)) FOR [GroupToExpandDay]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_MinRetainDay]  DEFAULT ((60)) FOR [MinRetainDay]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_AllowedExceedStock]  DEFAULT ((0)) FOR [AllowedExceedStock]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_LastPrice]  DEFAULT ((1)) FOR [LastPrice]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Allow__50928685]  DEFAULT ((0)) FOR [AllowedGroupExceedStock]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Allow__5186AABE]  DEFAULT ((0)) FOR [AllowedNewProduct]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__NewPr__527ACEF7]  DEFAULT ((0)) FOR [NewProductFromWin]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_NotStock]  DEFAULT ((0)) FOR [OutNotCalclStock]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_NotDis]  DEFAULT ((0)) FOR [OutMustDis]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_DiscardWeight]  DEFAULT ((0)) FOR [DiscardWeight]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_CustomerFromQuotedPrice]  DEFAULT ((0)) FOR [CustomerFromQuotedPrice]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_AutoEntry]  DEFAULT ((0)) FOR [AutoEntry]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Parmars_Tab_AutoSwap]  DEFAULT ((1)) FOR [AutoSwap]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__NumIs__0A15E7FB]  DEFAULT ((0)) FOR [NumIsZeroNotAllowPrint]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Updat__1E1CE0A8]  DEFAULT ((0)) FOR [UpdatePurchaseToDefaultShipper]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Updat__1F1104E1]  DEFAULT ((0)) FOR [UpdateSaleOrderToPurchaseOrder]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__WithI__7CB1CB3C]  DEFAULT ((0)) FOR [WithInShipperCode]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__After__5562F3F1]  DEFAULT ((1)) FOR [AfterDisAllowedAddProduct]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__SaleA__06062B4C]  DEFAULT ((0)) FOR [SaleAutoEntry]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__PushB__72E93537]  DEFAULT ((0)) FOR [PushBackCheckStock]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__TipNo__5FA15699]  DEFAULT ((1)) FOR [TipNotQuotedPrice]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__CostP__3C231032]  DEFAULT ((1)) FOR [CostPriceInPurchare]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Enabl__4888E717]  DEFAULT ((0)) FOR [EnabledWeighing]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__MainB__6248B91A]  DEFAULT ('') FOR [MainBookName]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__SubBo__633CDD53]  DEFAULT ('') FOR [SubBookName]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__MainS__6431018C]  DEFAULT ((0)) FOR [MainSendToSub]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__impor__652525C5]  DEFAULT ((0)) FOR [importStock]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Allow__7CC7A52C]  DEFAULT ((1)) FOR [AllowedOutOrderNum]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Shipp__6C5C3339]  DEFAULT ((0)) FOR [ShipperAddNumNotTransferStock]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Updat__36201E19]  DEFAULT ((0)) FOR [UpdateSaleAllowedChangePrice]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Lable__662436F6]  DEFAULT ('') FOR [LablePrintName]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__DisSh__24E0837E]  DEFAULT ((0)) FOR [DisShowFrom]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__NotAv__25D4A7B7]  DEFAULT ((0)) FOR [NotAvgLose]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Accep__24EB7076]  DEFAULT ((1)) FOR [AcceptUserCode]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__DisPr__5D2FC999]  DEFAULT ((2)) FOR [DisPrintColumns]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__DisPr__5E23EDD2]  DEFAULT ((14)) FOR [DisPrintFontSize]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__DownG__5F18120B]  DEFAULT ((2)) FOR [DownGroupPrintColumns]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__DownG__600C3644]  DEFAULT ((14)) FOR [DownGroupPrintFontSize]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__EndOr__34ECCE15]  DEFAULT ((3)) FOR [EndOrderTime]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Start__35E0F24E]  DEFAULT ((0)) FOR [StartOrderTime]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Group__6E103CD8]  DEFAULT ((0)) FOR [GroupByBigCate]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__enabl__3DF71562]  DEFAULT ((0)) FOR [enableManyShipper]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__Purch__72BFE35C]  DEFAULT ((0)) FOR [PurchasesTOPlusType]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__multi__30BD15D5]  DEFAULT ((0)) FOR [multiLineOut]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__swapS__31B13A0E]  DEFAULT ((0)) FOR [swapShipperToAll]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__defau__41E7A1D7]  DEFAULT ((0)) FOR [defaultShipperCode]
GO
ALTER TABLE [dbo].[L_Sys_Parmars_Tab] ADD  CONSTRAINT [DF__L_Sys_Par__WxCat__61604D30]  DEFAULT ((0)) FOR [WxCateVertical]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_l_parmarstab_allowrecharge]  DEFAULT ((0)) FOR [allowrecharge]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_l_parmarstab_allowswap]  DEFAULT ((0)) FOR [allowswap]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_l_parmarstab_allowprize]  DEFAULT ((0)) FOR [allowprize]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_L_Sys_Wx_Parmars_Tab_allowPay]  DEFAULT ((0)) FOR [allowPay]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_l_parmarstab_extensiongiveintegral]  DEFAULT ((0)) FOR [extensiongiveintegral]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_l_parmarstab_subscribegiveintegral]  DEFAULT ((0)) FOR [subscribegiveintegral]
GO
ALTER TABLE [dbo].[L_Sys_Wx_Parmars_Tab] ADD  CONSTRAINT [DF_l_parmarstab_signgiveintegral]  DEFAULT ((0)) FOR [signgiveintegral]
GO
ALTER TABLE [dbo].[L_Wx_Templated_Num_Tab] ADD  CONSTRAINT [DF_L_Wx_Templated_Num_Tab_Num]  DEFAULT ((0)) FOR [Num]
GO
ALTER TABLE [dbo].[L_Basic_Customer_Price_Tab]  WITH NOCHECK ADD  CONSTRAINT [FK_L_Basic_Customer_Price_Tab_L_Basic_Company_Tab] FOREIGN KEY([PCode])
REFERENCES [dbo].[L_Basic_Company_Tab] ([IdCode])
ON DELETE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[L_Basic_Customer_Price_Tab] NOCHECK CONSTRAINT [FK_L_Basic_Customer_Price_Tab_L_Basic_Company_Tab]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否分滩损耗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Basic_Company_Tab', @level2type=N'COLUMN',@level2name=N'LossAllocation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'质量级别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Basic_Company_Tab', @level2type=N'COLUMN',@level2name=N'QualityGrade'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否定价 时价|定价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Basic_Company_Tab', @level2type=N'COLUMN',@level2name=N'ChangeAblePrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'客户端查看商品 全部|报价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Basic_Company_Tab', @level2type=N'COLUMN',@level2name=N'LookProductType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关联的货商或客户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Basic_User_Tab', @level2type=N'COLUMN',@level2name=N'RelationCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'舍去重量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Sys_Parmars_Tab', @level2type=N'COLUMN',@level2name=N'DiscardWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动入帐' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Sys_Parmars_Tab', @level2type=N'COLUMN',@level2name=N'AutoEntry'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否自动拆零' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Sys_Parmars_Tab', @level2type=N'COLUMN',@level2name=N'AutoSwap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'wx模版ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'L_Wx_Templated_Tab', @level2type=N'COLUMN',@level2name=N'Templated_Id'
GO
