@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.ttf?t=1658399029645') format('truetype');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconQrCode:before {
    content: "\e65f";
}

.iconShop:before {
    content: "\e72b";
}

.iconShop_Parmars:before {
    content: "\e609";
}

.iconShop_Special:before {
    content: "\e6f8";
}

.iconShop_Coupon:before {
    content: "\e63e";
}

.iconReports_Analysis:before {
    content: "\e6dd";
}

.iconReports_Sale:before {
    content: "\e620";
}

.iconReports_InOut:before {
    content: "\e6c0";
}

.iconSys_Group:before {
    content: "\e667";
}

.iconSys_Parmars:before {
    content: "\e628";
}

.iconSys_DataChange:before {
    content: "\e638";
}

.iconFinance_Res:before {
    content: "\e642";
}

.iconFinance_Pay:before {
    content: "\e607";
}

.iconFinance_Change:before {
    content: "\e605";
}

.iconFinance_Reports:before {
    content: "\e6b3";
}

.iconReports:before {
    content: "\e61d";
}

.iconSys:before {
    content: "\e62c";
}

.iconFinance:before {
    content: "\e604";
}

.iconStock_Check:before {
    content: "\e67f";
}

.iconStock_StoreExChange:before {
    content: "\e64f";
}

.iconStock_Change:before {
    content: "\e6c6";
}

.iconStock_AreaExChange:before {
    content: "\e62f";
}

.iconStock:before {
    content: "\e633";
}

.iconStock_Receive:before {
    content: "\e78e";
}

.iconStock_List:before {
    content: "\e61e";
}

.iconStock_Reports:before {
    content: "\e950";
}

.iconStock_PriceChange:before {
    content: "\e686";
}

.iconSale_Order:before {
    content: "\e699";
}

.iconSale_Reports:before {
    content: "\e61c";
}

.iconSale_Return:before {
    content: "\e656";
}

.iconSale_Out:before {
    content: "\e65b";
}

.iconAccount:before {
    content: "\e682";
}

.iconPurchase_Order:before {
    content: "\e631";
}

.iconPurchase_Reports:before {
    content: "\e608";
}

.iconPurchase_In:before {
    content: "\e65a";
}

.iconPurchase_Return:before {
    content: "\e67d";
}

.iconPurchase:before {
    content: "\e66f";
}

.iconSale:before {
    content: "\e8e3";
}

.iconBasic_Customer:before {
    content: "\e60e";
}

.iconBasic_Cate:before {
    content: "\e630";
}

.iconBasic_Shipper:before {
    content: "\e648";
}

.iconBasic_User:before {
    content: "\e6aa";
}

.iconBasic_Post:before {
    content: "\e6a3";
}

.iconBasic_Other:before {
    content: "\e641";
}

.iconBasic_Area:before {
    content: "\e666";
}

.iconBasic_Product:before {
    content: "\e617";
}

.iconBasic_Store:before {
    content: "\e61b";
}

.iconBasic:before {
    content: "\e670";
}

.iconUser:before {
    content: "\e603";
}

.iconSeparate:before {
    content: "\e62b";
}

.iconSearch:before {
    content: "\e601";
}

.iconArrawUp:before {
    content: "\e637";
}

.iconArrawDown:before {
    content: "\e8a6";
}

.iconPaved:before {
    content: "\e63d";
}

.iconArray:before {
    content: "\e673";
}

.iconLayer:before {
    content: "\e632";
}

.iconTop:before {
    content: "\e76c";
}

.iconCancel:before {
    content: "\e60d";
}

.iconNext:before {
    content: "\e62e";
}

.iconInsert:before {
    content: "\e8a2";
}

.iconDelete:before {
    content: "\e8a3";
}

.iconExtend:before {
    content: "\e600";
}

.iconHelp:before {
    content: "\e60b";
}

.iconPrint:before {
    content: "\e6a5";
}

.iconClose:before {
    content: "\e621";
}

.iconBase:before {
    content: "\e659";
}

.iconInterface:before {
    content: "\e697";
}

.iconUnExamine:before {
    content: "\e606";
}

.iconSave:before {
    content: "\e61f";
}

.iconExamine:before {
    content: "\e69a";
}

.iconReg:before {
    content: "\e6b5";
}

.iconExChange:before {
    content: "\e655";
}

.iconBottom:before {
    content: "\e8a4";
}

.iconUpward:before {
    content: "\e8a5";
}